body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

[onClick] {
    cursor:pointer;
}

.audioblast-flash {
  height: 37px;
  float: left;
  padding-right: 3px;
}

.dot-carousel {
  position:absolute;
  left:50%;
}

#zoom-control {
  float:right;
  padding-right:20px;
}

#zoom-control .ulhoriz {
  margin:0px;
  background:#CCC;
  padding:0px;
}

#zoom-control li {
  background-color: #3d3d3d;
  color:white;
  width:40px;
  height:40px;
  display:inline-block;
}

#zoom-control li img {
  height:30px;
  width:30px;
}

.audioblast-button:hover {
  filter: invert(61%) sepia(77%) saturate(1488%) hue-rotate(360deg) brightness(103%) contrast(103%);
}

#spectro {
  float:right;
  padding-right:10px;
}

#ab-view {
  width:80%;
  float: left;
  display:block;
}

#inspector {
  width: 20%;
  float:right;
  display:block;
  background-color: #CCC;
  margin-top:3px;
  border-left: 3px solid white;
  padding-left:3px;
  padding-right:3px;
  overflow-wrap: break-word;
}

.ab-control-parent {
  margin-bottom:5px;
}

.ulhoriz li {
  margin-left:5px;
  background-color:#999;
  padding:5px;
}

#title {
  background-color:#888;
  width:100%;
  overflow:hidden;
  margin-bottom:3px;
}

#title h1 {
  float:left;
  margin:0px;
}

#components-div {
  float:right;
}

#components-div h4 {
  margin:0px;
  text-align:right;
  margin-right:5px;
}

#components-div .ulhoriz {
  margin:0px;
}

#audio-1 {
  float:right;
}

#filebrowser {
  background:#D6D6D6;
  padding:5px;
  width:100%;
  overflow:hidden;
}

.filebrowser-selector {
  float:left;
  padding-right:20px;
}

.ab-render-parent {
  background:#CCC;
  width:100%;
  height:202px;
  margin-top:3px;
}

.control-parent-render{
  float:left;
  width:100px;
}

.ab-render{
  float:right;
  width:85%;
 height:200px;
}

.control-render ul {
  list-style-type: none;    
}

.control-render ul li {
  margin: 3px;
  padding: 3px;
  background-color: darkgray;
  border-radius: 5px;
  width: 100px;
}

#api-calls {
  position: fixed;
  bottom: 0;
  width: 100px;
  font-size:smaller;
  background-color:darkgray;
  border-top-right-radius:5px;
}
