.dot-carousel {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #2563eb;
  color: #2563eb;
  box-shadow: 9984px 0 0 0 #64748b, 9999px 0 0 0 #64748b, 10014px 0 0 0 #64748b;
  animation: dot-carousel 1.5s infinite linear;
  margin-left: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@keyframes dot-carousel {
  0% {
    box-shadow: 9984px 0 0 -1px #64748b, 9999px 0 0 1px #2563eb, 10014px 0 0 -1px #64748b;
  }
  50% {
    box-shadow: 10014px 0 0 -1px #64748b, 9984px 0 0 -1px #64748b, 9999px 0 0 1px #2563eb;
  }
  100% {
    box-shadow: 9999px 0 0 1px #2563eb, 10014px 0 0 -1px #64748b, 9984px 0 0 -1px #64748b;
  }
}
